# Ignore build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store
/.vscode
/.vs

CMakeFiles/

*.cmake

src/Makefile

CMakeCache.txt

Makefile

src/cuckoo_filter

cuckoo_filter

kmers/

data.csv
